<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @team_season.index %>
</p>

<%= link_to 'Edit', edit_team_season_path(@team_season) %> |
<%= link_to 'Back', team_seasons_path %>
