

<hr><hr>
<br><br><br><br>
<hr><hr>
<br><br><br><br>
<hr><hr>



<br><br>
<hr>
<br><br>



<barchart>
  <h4 align="center" class="svg_txt_1">Textbook d3 Pipeline</h4>
  <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

//    var appData = d3.json( '/graph.json', function( error, data ) {
//        console.log( data );
//    } );

	//var daata = d3.json("/barchart.json")
	//var data = d3.json( '/graph.json', function( data ) {
    //	console.log( data );
    //} );



    d3.json("/barchart.json", function (data) {

      var canvas = d3.select("barchart").append("svg")
        .attr("height",500)
        .attr("width",900);

      canvas.selectAll("rect")  
        .data(data)
        .enter()
          .append("rect")
          .attr("width",29)
          .attr("height",function(d){ return d.wins })
     	  .attr("x", function (d, i){ return i * 35 })
     	  .attr("fill",function(d){ return d.team_color})
     	  .attr("y", 150);
     	  

    	canvas.selectAll("text")
    		.data(data)
    		.enter()
    			.append("text")
    			.style('fill',"black")
    			.attr("y",135)
    			.attr("x", function (d, i){ return i * 35 })
    			.text( function(d){ return d.team_name })

    })

    </script>
</barchart>



<br><br>
<hr>
<br><br>

<div class="scroll-container-basic">
  
  <div class="scroll-banner-basic">
    <h1 class="svg_txt_1">Scatter Plot 1</h1>
    	<svg width="950" height="500">
			<path d="M50 50 L100 150 L150 100 L200 150" fill="none" stroke="red" stroke-width="10"></path>
		</svg>
  </div>

  <div class="scroll-banner-basic">
		<svg width="950" height="500">
			<rect x="200" y="50" width="200" height="50" fill="gray"></rect>
			<rect x="0" y="0" width="50" height="200" fill="gray"></rect>

			<circle cx="950" cy="490" r="22" fill="orange" stroke="red" stroke-width="3"/>
			<circle cx="180" cy="80" r="16" stroke="red" stroke-width="8"/>
			<circle cx="100" cy="80" r="16" stroke="red" stroke-width="6"/>
			<circle cx="400" cy="10" r="16" stroke="red" stroke-width="12"/>
		</svg>
  	</div>

  	<div class="scroll-banner-basic">
		<svg width="950" height="350">
			<text class="svg_txt_1" x="150" y="250">Text<text>
		</svg>
	</div>

</div>







