<h2> this is the index for other </h2>

<p>Check out: 
	<br><a href="/other/bar">Bar</a>
	<br><a href="/other/line">Line</a>
	<br><a href="/other/scatter">Scatter</a>
	<br><a href="/other/arc">Arc</a>
	<br><a href="/other/tree">Tree</a>
	<br><a href="/other/cluster">Cluster</a>
	<br><a href="/other/pack">Pack</a>
	<br><a href="/other/tree">Bubble</a>
	<br><a href="/other/treemap">treemap</a>
	<br><a href="/other/map">map</a>
</p>