<nav class="header-cont" role="navigation">
  <div class="header">
      <a class="navbar-link" href="/team_seasons">Teams</a> | &nbsp; <a class="navbar-link" href="/bar">Bar</a> &nbsp; | &nbsp; <a class="navbar-link" href="/line">Line</a> | &nbsp; <a class="navbar-link" href="/scatter">Scatter</a> | &nbsp; <a class="navbar-link" href="/other">Other</a> 
    </div>
  </div>
</nav>
<p><br/><br/></p>
<p><br/><br/></p>


