/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */




@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=VT323');



.header-cont {
    min-width: 100%;
    height: 100px;
    margin-top:-33px;
    margin-left:-30px;
    position: fixed;
}

.header {
    min-width:100%;
    height: 100px;
    background:#F0F0F0;

    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-link{
	font-size:3em;
	font-family: 'Bungee Shade', cursive;

	padding-left: 3%;
	padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.navbar-link:hover{
	background: none;

}




.scroll-banner-basic{
	border-style:solid;
	border-width:thin;
	border-bottom:0px;

	margin: -10px -10px -10px 0px ;

	height:400px;
	min-width:100%;

	text-align: center;
}

div.scroll-banner-basic:last-child {
	border-style:solid;
	border-width:thin;
}

h2 {
	font-size:1em;
	font-weight: strong;
	font-family: 'Bungee Shade', cursive;	
}

h4 {
	font-size: 3em;
	font-weight: strong;
	font-family: 'VT323', monospace;
}

.svg_txt_1{
	font-size: 2em;
	font-weight: strong;
	font-family: 'Bungee Shade', cursive;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.chart-container{
	min-width: 100%;
	min-height: 350px;
	max-height: 800px;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-left: 20px;
}





.team-circle:hover {
	opacity: 0.5;
}

.d3-tip {
  width: 150px;
  height: 50px;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: left;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Creates a small triangle extender for the tooltip */

/*
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
*/




















